
    body{
        background-color:rgba(46, 43, 43, 0.973);
  }
  ul{
      list-style-type: none;
      padding: 160px;
      font-size: 20px;
      margin-bottom: 0%;
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

  }
  li{
      float: left;
  }
  li a{
      color: #f7484E;
      text-align: center;
      text-decoration: none;
      display: block;
      padding: 16px;
  }

*{
    padding: 0;
    margin: 0;
}
.div-1{
    height: 100vh;
    background:linear-gradient(to right,#F7484E 0%,#F7484E 50%,white 50%,white 100%);
 }
 p{
     color: white;
     font-family: "cursive",lucida handwriting;
     text-align: left;
     padding: 200px;
     font-size: 60px;
 }
.div-2{
    p{
     color: black;
     margin: 10px;
     padding: 20px;
     text-align :left;

 }
}
 